
/*Removes default values for website spacing. (For more freedom with custom spacing)*/
/*AKA a CSS-reset*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*    font-size: 2rem;*/
}

/*Root psuedo class: can be use to trickle information down to all elements (Heirichaily)*/
:root {
    /*#region Variables*/
    /*#region -Colors*/
    /*    --BACKGROUND_COLOR: hsl(343, 82%, 22%);*/

    /*OG colors*/
    /*    --BACKGROUND_COLOR: hsl(327, 47%, 20%);
    --FOREGROUND_COLOR: rgb(255, 179, 0);*/


    --BACKGROUND_COLOR: hsl(0, 0%, 0%);
    --FOREGROUND_COLOR: hsl(0, 0%, 70%);
    --ACTIVE_COLOR: royalblue;
    --HEADER_HEIGHT: 10vh;
    --BODY_LOADING_TIME: 0.5s;
    /*#endregion*/
    /*#endregion*/
}

/*#region Basic Stylings (mostly for testing)*/
.fullscreen
{
    width: 100vw;
    height: 100vh;
}

.debugText {
    font-size: 7rem;
    text-align: center;
}

.hide
{
    display: none;
}

.fillContainer
{
    width: 100%;
    height: 100%;
}

.fillRow
{
    width: 100%;
}

.fillColumn
{
    height: 100%;
}

.noTextDecoration
{
    text-decoration: none;
}

/*#endregion*/

/*#region Tag Overrides*/

html
{
    scroll-padding-top: var(--HEADER_HEIGHT);
}

/*Default body look*/
body
{
    background-color: var(--BACKGROUND_COLOR);
    color: var(--FOREGROUND_COLOR);
    border: 1px solid;

}

dsa-project
{
    display: block;
    padding: 5vh 0;
}

/*#endregion*/


/*#region animation frames*/
@keyframes loadIn {
    0% {
        display: none;
    }

    99% {
        display: none;
    }

    100% {
        display: block;
    }
}

@keyframes unLoad {

    0% {
        display: flex;
    }

    90% {
        display: flex;
    }

    91% {
        display: none;
    }

    100% {
        display: none;
    }
}

/*#endregion*/


/*#region loading styles*/
.wait {
    /*    display: none;*/

    animation-name: loadIn;
    animation-duration: var(--BODY_LOADING_TIME);
    animation-fill-mode: forwards;
}

/*.bodyLoading {
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: unLoad;
    animation-duration: var(--BODY_LOADING_TIME);
    animation-fill-mode: forwards;
}*/

.bodyLoadingText{

    color: white;


}
/*#endregion*/





/*#region Headers*/
.fixedHeader
{
    position: fixed;
    border: 10px solid red;
    height: 10vh;
    width: 100%;
    z-index: 5;
}

.stickyHeader
{
    position: sticky;
    border: 10px solid red;
    height: 10vh;
    top: 0;
    z-index: 5;
}

.homeHeader
{
    background-color: var(--BACKGROUND_COLOR);
    height: var(--HEADER_HEIGHT);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
    border: 10px double black;
    background-color: var(--BACKGROUND_COLOR);

    height: min(200px, 14vh);
}

/*#endregion*/

/*#region Footers*/
.fixedFooter
{
    position: fixed;
    border: 10px solid red;
    height: 10vh;
    width: 100%;
    bottom: 0;
}

.stickyFooter
{
    position: sticky;
    border: 10px solid red;
    height: 10vh;
    bottom: 0;
}

.homeFooter
{
    display: flex;
    /*    border: none;*/
    background-color: var(--FOREGROUND_COLOR);
    color: var(--BACKGROUND_COLOR);


    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    border: 5px solid black;
    gap: 1vh;
}

/*#endregion*/

.homeWelcome
{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.welcome__quote
{
    font-size: 3rem;
}

.homeInfo
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.homeInfo__header
{
    font-size: 5rem;
    text-align: center;
    width: 100%;
}

.homeInfo__para
{
    font-size: 3rem;
    text-align: center;
}

.resume__header
{
    font-size: 5rem;
    text-align: center;
    width: 100%;
}

/*#region List*/
.noBullets
{
    list-style-type: none;
}

/*#endregion*/


/*#region Header__Elements */

.header_h1
{
    display: block;
    font-size: 4.5rem;
}

.header__list
{
    display: grid;
    grid-template: 1fr / 1rem repeat(4, 1fr) 1rem;
    gap: 1rem;
}

.header__button
{
    display: flex;
    background-color: var(--FOREGROUND_COLOR);
    border: 1px solid black;
    /*    border-radius: 0px;*/
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    min-width: 20vw;
    height: 5vh;
    text-align: center;
}
    
    .header__button:hover
    {
        background-color: var(--ACTIVE_COLOR);
    }

.header__button a
{
    width: 100%;
}
/*#endregion */
/*#region Footer__Elements */
.footer_h1
{
    display: inline;
    font-size: 2.5rem;
}

.footer__list
{
    grid-template: 1fr / 1rem repeat(3, 1fr) 1rem;
    gap: 1rem;
}

.footer__button
{
    background-color: var(--FOREGROUND_COLOR);
/*    border: 1px solid black;*/
    /*    border-radius: 0px;*/
    text-align: center;
    font-size: 3rem;
    min-width: 25vw;
}

    .footer__button:hover
    {
        background-color: var(--ACTIVE_COLOR);
    }

.footer_linkImage
{
    height: 7.5vh;
    border: 0.25vw solid var(--BACKGROUND_COLOR);
}

/*#endregion */

.resumePDF
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.resumeHolder
{
    display: flex;
    flex-flow: column; 
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.loadingScreen
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    border: hidden;
}

.homePage
{
    margin: 3% 7.5%;
}

.homeSlides
{
    display: block;
    padding: 10% 0;
}

.projectPage
{
    margin: 3% 7.5%;
}

/*#region Projects */
.projectHolder
{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.projectTitle
{
    order: -1;
    text-align: center;
    font-size: 4rem;
}

.projectInfo
{
    order: 2;
    text-align: center;
    font-size: 3rem;
}

.projectImage
{
    order: 1;
    max-width: 100%;
}


/*#endregion */



/*#region desktop: styles and style mods (deprecated FAST)*/


/*@media screen and (min-width: 500px) 
{
    :root 
    {
        --BACKGROUND_COLOR: hsl(327, 47%, 20%);
        --FOREGROUND_COLOR: rgb(255, 179, 0);
    }
}
*/

/*#endregion*/