
/*Removes default values for website spacing. (For more freedom with custom spacing)*/
/*AKA a CSS-reset*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*    font-size: 2rem;*/
}

/*Root psuedo class: can be use to trickle information down to all elements (Heirichaily)*/
:root
{
    /*#region Variables*/


    /*#region -Colors*/

    --BACKGROUND_COLOR: hsl(327, 47%, 20%);
    --FOREGROUND_COLOR: rgb(255, 179, 0);
    --ACTIVE_COLOR: royalblue;

    /*#endregion*/



    /*#endregion*/
}

/*#region Tag Overrides*/

html
{
}

/*Default body look*/
body
{
    background-color: var(--BACKGROUND_COLOR);
    color: var(--FOREGROUND_COLOR);
    border: 1px solid;

}

/*#endregion*/


.debugText
{
    font-size: 7rem;
    text-align: center;
}
/*#region Headers*/
.fixedHeader
{
    position: fixed;
    border: 10px solid red;
    height: 10vh;
    width: 100%;
}

.stickyHeader
{
    position: sticky;
    border: 10px solid red;
    height: 10vh;
    top: 0;
}

.homeHeader
{
    /*    border: none;*/
}

/*#endregion*/

/*#region Footers*/
.fixedFooter
{
    position: fixed;
    border: 10px solid red;
    height: 10vh;
    width: 100%;
    bottom: 0;
}

.stickyFooter
{
    position: sticky;
    border: 10px solid red;
    height: 10vh;
    bottom: 0;
}

.homeFooter
{
    /*    border: none;*/
    background-color: var(--FOREGROUND_COLOR);
    color: var(--BACKGROUND_COLOR);

}

/*#endregion*/

.fullscreen
{
    width: 100vw;
    height: 100vh;
}

.hide
{
    display: none;
}

.fillContainer
{
    width: 100%;
    height: 100%;
}

.fillRow
{
    width: 100%;
}

.fillColumn
{
    height: 100%;
}

.noTextDecoration
{
    text-decoration: none;
}



/*#region Flex*/
.flex
{
    display: flex;
}

.flexCenterContent
{
    justify-content: center;
    align-items: center;
}

.flexHeader
{
    justify-content:flex-end;
    align-items: center;
    flex-flow: column nowrap;
    border: 10px double black;
}

.flexFooter
{
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    border: 5px solid black;
    gap: 1vh;
}

.flexBody
{

}

/*.flexFillContainer
{
    
}*/

/*#endregion Flex-end*/

/*#region Grid*/
.grid
{
    display: grid;
}

.gridCenterContent
{
    justify-content: center;
    align-items: center;
}

.gridFillContainer
{
}

.gridHeader
{

}

/*#endregion*/

/*#region List*/

.noBullets
{
    list-style-type: none;
}

/*#endregion*/


/*#region Header__Elements */

.header_h1
{
    font-size: 5rem;
}

.header__list
{
    grid-template: 1fr / 1rem repeat(3, 1fr) 1rem;
    gap: 1rem;
}

.header__button
{
    display: flex;
    background-color: var(--FOREGROUND_COLOR);
    border: 1px solid black;
    /*    border-radius: 0px;*/
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    min-width: 25vw;
    min-height: 5vh;
}
    
    .header__button:hover
    {
        background-color: var(--ACTIVE_COLOR);
    }

/*#endregion */

/*#region Footer__Elements */

.footer_h1
{
    display: inline;
    font-size: 2.5rem;
}

.footer__list
{
    grid-template: 1fr / 1rem repeat(3, 1fr) 1rem;
    gap: 1rem;
}

.footer__button
{
    background-color: var(--FOREGROUND_COLOR);
/*    border: 1px solid black;*/
    /*    border-radius: 0px;*/
    text-align: center;
    font-size: 3rem;
    min-width: 25vw;
}

    .footer__button:hover
    {
        background-color: var(--ACTIVE_COLOR);
    }

/*#endregion */

.fullPagePDF
{

}

.linkImage
{
    height: 7.5vh;

    border: 0.25vw solid var(--BACKGROUND_COLOR);
}

.longPage
{
    margin: 1000%;
}


/*#region Projects */

.projectHolder
{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.projectTitle
{
    order: -1;
    font-size: 4rem;
}

.projectInfo
{
    order: 2;
    text-align: center;
    font-size: 3rem;
}

.projectImage
{
    order: 1;
    max-width: 90vw;
}


/*#endregion */
